.whyuspage-main{
    min-height:80vh;
    text-align: center;
}

.box-whyus {
    display: flex;
    position: relative;
    width: 60%;
    background: whitesmoke;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 250px;
}
.box-whyus-upper{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    position: absolute;
    top: 70px;
    left: -35px;
    border-radius: 20%;
}
.box-whyus-lower{
 width:60%;
 margin:5px auto;
}
.whyus-knomorebutton{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 0.7rem;
}

.box-whyus-upper{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    position: absolute;
    top: 50px;
    left: -35px;
    border-radius: 20%;
}
.box-whyus-lower{
 width:60%;
 margin:5px auto;
}
.whyus-knomorebutton{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 0.7rem;
}

.uppertwo{
    background-color: rgb(192, 105, 6);
}
.lowertwo{

}
.buttontwo{
    background-color: rgb(192, 105, 6);
}